@import 'Mixins';
body {
    margin: 0%;

    #Grilla {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-areas:
            "Header"
            "SeccionPrincipal"
            "PieDePagina";
        grid-template-columns: 100%;
        grid-template-rows: 35vh auto 20vh;

        .Header {
            grid-area: Header;
            background: linear-gradient(0deg, rgba(176, 204, 98, 1) 0%, rgba(229, 236, 159, 1) 50%);

            &__NombreLogo {
                grid-area: NombreLogo;
                margin: 0;
                padding: 0;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 80% 20%;
                grid-template-areas:
                    "logo"
                    "nombre";
            }

            &__Logo {
                grid-area: logo;
                display: flex;
                align-content: center;
                justify-content: center;
            }

            &__Nombre {
                grid-area: nombre;
                display: flex;
                justify-content: center;
                align-content: center;
            }
        }
        #SeccionPrincipalProd{
            background-color: #B3B0A1;
            .Tarjetas{
                display: flex;
                flex-flow: column;
            }
            .SeccionProducto{
                display: flex;
                flex-direction: row;
                flex-flow: wrap;
            }
        }

        &__MenuPrincipal {
            ul {
                li {
                    a {
                        color: white;
                    }
                }
            }
        }

        .Card {
            border: solid black 2px;
            margin: 3%;
            border-radius: 3%;
            width: 15vw;
            height: auto;
            display: flex;
            
            align-content: space-between;
            flex-flow: column;
            background-color: #F0F0E6;
            
            &__Img{
                border-radius: 3%;
                height: 25vh;
            }
            &__NombreProducto{
                text-align: center;
                margin: 5%;
            }
            &__Boton{
                width: 50%;
                text-align: center;
                margin: 0% 25% 5% 25%;
            }
            &__Precio{
                text-align: center;
            }
        }

    }
}

#SeccionPrincipalProd {
    grid-area: SeccionPrincipal;
}

#PieDePagina {
    grid-area: PieDePagina;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 100%;
    grid-template-areas: 
        "Titulo RRSS";
    .TituloPiePagina{
        grid-area: Titulo;    
    }
    .RRSS{
        @extend .Tarjetas;
        align-content: flex-end;
        align-items: flex-end;
        justify-content: right;
        width: 100%;
        grid-area: RRSS;
        &__Item{
            height: 20%;
            width: 100%;
            margin: 0%;
            padding: 2%;
            font-size: small;
            display: flex;
            flex-direction: row;
            
            justify-items: flex-start;
            h3{
                font-size: smaller;
                text-align: right;
                font-weight: bold;
                margin-top: 4px;
            }
        }
        &__img{
            max-width: 70%;
            max-height: 70%;
        }    
    }
}


